  .carousel{
    height: auto;
  }
@media only screen and (max-width: 600px) {
  .chart-div{
    max-width: 100%;
  }
   .govtdash{
    margin-top: 35% !important;
  }
  .heading-stat{
    text-align: center;
  }
  .button-detail{
    margin-left: 25vw !important;
  }
  .carousel{
    overflow-x: hidden;
    height: auto;
  }
  .button-detail{
    margin-left: auto !important;
  }
  .login-sm{
    margin-top: 250px;
    width: 90%;
    height: 300px;
  }
  .lottie-sm{
    display: none;
  }
  .text-sm{
    width: 80%;
    margin-top: 15px;
  }
  .button-sm{
    /* margin-left: 30px; */
    margin: auto;
  }
  .map-sm{
    margin-top: 100px !important;
  }
  .car-sm{
    width: 60%;
    margin-left: 120px;
  }
  .grid-sm{
    display: none !important;
  }
}