body {
  margin: 0;
  font-family: 'Barlow Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FAFAFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app{
  scroll-behavior: smooth;
}
.navbar{
  background-color: #EEF0F2;
  box-shadow: 0px 2px 2px rgb(0 0 0 / 0.25);
}

.space{
  width: 400px;
}

.login{
  float: right;
  display: inline;
  height: 20vh;
  padding-right: 2vw;
  padding-left: 1vw;
  padding-top: 1vw;
  display: flex;
  align-items: right;
  justify-content: right;
  font: size 25px;
  color: #FFF4DD;
}

.home{
  display: block;
  justify-content: center;

}

.carousel{
  height: 88vh;
  color: #000000;
  align-content: right;
}

.carousel-img{
  height: 88vh;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  opacity: 0.75;
  object-fit:cover;
}

.textbox{
  position: absolute;
  top: 50%;
  left: 20%;
  width: 20vw;
  height: 30vh;
  align-content: center;
  justify-content: center;
  padding: 1vh;
  transform: translate(-50%, -50%);
  font-size: auto;
  background-color: #000000;
  opacity: 0.7;
  text-overflow:clip;
  color: white;
}

.button{
  background-color: #177E89;
  color: #177E89;

}

.row{
  display: flex;
  align-items: center;
  align-content: center;
  margin: 5vw;
}

.text{
  display: flex;
  justify-content: center;
  color: #000000;
}

.login-box{
  display: flex;
  margin-top: 15vh;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 3vw;
  height: auto;
  width:60vw;
  color: black;
  border-radius: 3vw;
  background-color: #EEF0F2;
}

.row-login{
  display: inline-block;
  flex: 1;
  justify-content: center;
  align-content: center;
}

.toggle-btn{
  background-color: #EEF0F2;
  color: black;
}

.MuiToggleButton-sizeSmall{
  height: 2vw;
  font-size: small;
  /* background-color: #FFD379; */
}

.textfield{
  width: 15vw;
  /* height: 2.6vw; */
  margin-top: 2vw;
  background-color: #EEF0F2;
  color: #FFF4DD;
  border: #197278;
  font-size: 9px;
  /* height: 2vw; */
}

.container-faq{
  background-color: #EEF0F2;
  padding:2vw;
  margin-top: 5vh;
  border-radius: 5vh;
}


.policy{
  background-color: #478e93;
  margin-top:1vw;
  padding:1vw;
  display: flex;
  height:10vh;
  border-radius: 3vh;
}

.policy:hover{
  cursor: pointer;
}

.faq-question{
  background-color: #74B2B8;
  width:25vw;
}

.black-heading{
  color: black;
  font-size: "15px";
  font-weight: 500;
}

.black-subheading{
  color: #4f4e4e;
  font-size: "10px";
}
.white-heading{
  color: #FFFFFF;
  font-size: "15px";
}

.white-subheading{
  color: #FFFFFF;
  font-size: "10px";
  font-weight: 300;
  opacity: 0.75;
}

.MuiAccordion-root{
  justify-content: center;
  background-color: #197278;
  color: white;
  margin-top: 1vw;
  width: 35vw;
}

.MuiDialog-root{
  color: #197278;
}

.navItem{
  width:"10vw";
}

.noticeItem:hover{
  cursor: pointer;
}

.dropzone:hover{
  cursor: pointer;
}

.close-button:hover{
  cursor: pointer;
}